<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Disable Hibernate logs -->
    <logger name="org.hibernate" level="OFF"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type.descriptor.sql" level="OFF"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="OFF"/>
    <logger name="org.hibernate.orm.jdbc.extract" level="OFF"/>

    <!-- Disable JPA or other dependency logs -->
    <logger name="jakarta.persistence" level="OFF"/>
    <logger name="org.jboss" level="OFF"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
</configuration>
